[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2023/5-grading-tests.git
[submodule "5-RodionovMaxim05"]
	path = 5-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/5-RodionovMaxim05.git
[submodule "5-Sibiri4ok"]
	path = 5-Sibiri4ok
	url = git@github.com:spbu-coding-2023/5-Sibiri4ok.git
[submodule "5-Szczucki"]
	path = 5-Szczucki
	url = git@github.com:spbu-coding-2023/5-Szczucki.git
[submodule "5-Vladzabaev"]
	path = 5-Vladzabaev
	url = git@github.com:spbu-coding-2023/5-Vladzabaev.git
