[submodule "5-grading-tests"]
	path = 5-grading-tests
	url = git@github.com:spbu-coding-2023/5-grading-tests.git
[submodule "5-RodionovMaxim05"]
	path = 5-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/5-RodionovMaxim05.git
[submodule "5-Sibiri4ok"]
	path = 5-Sibiri4ok
	url = git@github.com:spbu-coding-2023/5-Sibiri4ok.git
[submodule "5-Szczucki"]
	path = 5-Szczucki
	url = git@github.com:spbu-coding-2023/5-Szczucki.git
[submodule "5-Vladzabaev"]
	path = 5-Vladzabaev
	url = git@github.com:spbu-coding-2023/5-Vladzabaev.git
[submodule "5-VyacheslavIurevich"]
	path = 5-VyacheslavIurevich
	url = git@github.com:spbu-coding-2023/5-VyacheslavIurevich.git
[submodule "5-Ycyken"]
	path = 5-Ycyken
	url = git@github.com:spbu-coding-2023/5-Ycyken.git
[submodule "5-bikakuka"]
	path = 5-bikakuka
	url = git@github.com:spbu-coding-2023/5-bikakuka.git
[submodule "5-kinokotakenoko9"]
	path = 5-kinokotakenoko9
	url = git@github.com:spbu-coding-2023/5-kinokotakenoko9.git
[submodule "5-qrutyy"]
	path = 5-qrutyy
	url = git@github.com:spbu-coding-2023/5-qrutyy.git
[submodule "5-vicitori"]
	path = 5-vicitori
	url = git@github.com:spbu-coding-2023/5-vicitori.git
[submodule "5-DARKpluz"]
	path = 5-DARKpluz
	url = git@github.com:spbu-coding-2023/5-DARKpluz.git
[submodule "5-DronShock"]
	path = 5-DronShock
	url = git@github.com:spbu-coding-2023/5-DronShock.git
[submodule "5-ElBananium"]
	path = 5-ElBananium
	url = git@github.com:spbu-coding-2023/5-ElBananium.git
[submodule "5-Friend-zva"]
	path = 5-Friend-zva
	url = git@github.com:spbu-coding-2023/5-Friend-zva.git
[submodule "5-IslamZZZZ"]
	path = 5-IslamZZZZ
	url = git@github.com:spbu-coding-2023/5-IslamZZZZ.git
[submodule "5-Lyart123"]
	path = 5-Lyart123
	url = git@github.com:spbu-coding-2023/5-Lyart123.git
[submodule "5-Mukovenkov-Roman-Sergeyevich"]
	path = 5-Mukovenkov-Roman-Sergeyevich
	url = git@github.com:spbu-coding-2023/5-Mukovenkov-Roman-Sergeyevich.git
[submodule "5-OGchukh"]
	path = 5-OGchukh
	url = git@github.com:spbu-coding-2023/5-OGchukh.git
[submodule "5-RamProsad2"]
	path = 5-RamProsad2
	url = git@github.com:spbu-coding-2023/5-RamProsad2.git
[submodule "5-Sem4kok"]
	path = 5-Sem4kok
	url = git@github.com:spbu-coding-2023/5-Sem4kok.git
[submodule "5-TerrMen"]
	path = 5-TerrMen
	url = git@github.com:spbu-coding-2023/5-TerrMen.git
[submodule "5-VersusXX"]
	path = 5-VersusXX
	url = git@github.com:spbu-coding-2023/5-VersusXX.git
[submodule "5-homka122"]
	path = 5-homka122
	url = git@github.com:spbu-coding-2023/5-homka122.git
[submodule "5-mdcp10"]
	path = 5-mdcp10
	url = git@github.com:spbu-coding-2023/5-mdcp10.git
[submodule "5-mshipilov5"]
	path = 5-mshipilov5
	url = git@github.com:spbu-coding-2023/5-mshipilov5.git
